* {
    box-sizing: border-box;
}

body {
    margin: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: black;
}

header {
    padding: 4px;
    text-align: center;
    background-image: url('wheatFinal.jpg');
    background-repeat: no-repeat;

    background-size: 100% 100%;
}

nav {

    background-color: #005a9a;
    overflow: hidden;
}

nav a {
    margin: 10px 10px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

main {
    box-sizing: border-box;
    margin: 100px 100px;
    background-color: white;
    text-align: left;
    text-align: justify;
    background-image: url('farmOwn.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    text-decoration-style: ;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 70vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #005a9a;
    color: aliceblue;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

#box {
    background-color: #acdcff;
    padding: 45px;
    align-content: center;
    height: 500px;
    width: 1500px;
    border: 4px;
    border-style: solid;
    border-color: rgb(80, 62, 28);
    border-radius: 10px;
}

.class {
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 250px;
    border: 3px;
    border-style: solid;
    border-color: rgb(80, 62, 28);
    border-radius: 10px;
    text-align: center;
    float: left;
    box-sizing: border-box;
}

.mini {
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    height: 260px;
    width: 300px;
    border: 3px;
    border-style: solid;
    border-color: rgb(80, 62, 28);
    border-radius: 10px;
    text-align: center;
    float: left;
    box-sizing: border-box;
}

#box1 {
    padding: 30px;
    padding-left: 75px;
    align-content: center;
    height: 400px;
    width: 1500px;
    border: 4px;
    border-style: solid;
    border-color: rgb(80, 62, 28);
    border-radius: 10px;
}

#aboutUS {
    padding: 30px;
    padding-left: 75px;
    align-content: center;
    height: 400px;
    width: 1500px;
    border: 0px;
    border-style: solid;
}

#saparPhotoCss {
    padding-left: 450px;
    align-content: center;
    height: 340px;
    width: 1500px;
    border: 0px;
    border-style: solid;
    border-color: rgb(80, 62, 28);
    border-radius: 10px;
}

.container {
    width: 1000px;
    border: 7px solid rgb(28, 0, 72);
    margin: auto;
}

.item {
    border: 3px solid rgb(0, 153, 255);
    margin: 12px 3px;
    padding: 10px;
    background-color: rgb(149, 220, 255);
}

#left {
    float: left;
    width: 48%;
}

#right {
    float: right;
    width: 48%;
}

.btn {
    background-color: #005a9a;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

nav a:hover {
    color: rgb(255, 255, 255);
    background-color: #023458;
}

nav a:visited {
    color: rgb(255, 255, 255);
}

nav a:active {
    background-color: rgb(27, 0, 52);
}

.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 15, 109);
}